/* only necessary if doc contains unicode chars */
/* stylesheet information for kaplan-tool
File created date: 11.02.2015
Last modified date: 11.02.2015
By: Max Norton maxbnorton@csus.edu
*/
/* Table of Contents
FONT AND COLOR PALETTE
RESETS AND OVERRIDES
LINKS AND TYPE
MAIN LAYOUT
$logo
$top-nav
$nav-bar
$etc
SECONDARY LAYOUT
$sidebar
$etc
FORM ELEMENTS
$.param-table
MISCELLANEOUS
*/
/* FONT AND COLOR PALETTE: 
------------------------------ */
.alert {
  color: red; }

/* RESETS AND OVERRIDES
------------------------------ */
/*@import ();*/
body {
  margin: 0; }

h1 {
  font-size: .75em; }

h1.images img:nth-of-type(1) {
  display: none; }

/* Smartphones (landscape) and up ----------- */
@media only screen and (min-width: 321px) {
  h1.images img:nth-of-type(1) {
    display: inline; }

  .landscape-alert {
    display: none; } }
/* Tablets (portrait and landscape) ----------- */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  h1 {
    font-size: 1.5em; } }
/* Desktops and laptops ----------- */
@media only screen and (min-width: 1024px) {
  h1 {
    font-size: 2em; } }
.varDefs-printable {
  display: none; }

/* LINKS AND TYPE
------------------------------ */
a i {
  color: black; }

a:hover i,
a:hover {
  color: green; }

h1, h2, h3 {
  font-family: sans-serif; }

h1.title a {
  color: white;
  text-decoration: none; }
  h1.title a:hover {
    text-decoration: underline; }

h3 {
  margin-top: 2em; }

.glossary-inline,
.glossary-link,
.hover-info .info {
  color: black;
  display: block;
  padding: 0; }

.glossary-inline i,
.glossary-link i,
.glossary-link-family i,
.hover-info .info i {
  padding-right: 1em; }

.glossary-link-family a {
  color: black; }

.glossary-link a {
  color: black;
  cursor: pointer; }

.glossary-inline,
.hover-info .info {
  display: none;
  padding-left: 2em; }

.glossary-link:hover,
.glossary-link:hover a,
.glossary-link-family a:hover {
  color: green;
  cursor: pointer; }

.inline-def,
.glossary-link:hover .inline-def {
  color: black;
  font-style: italic; }

.figSubhead,
.figTitle {
  font-family: sans-serif;
  margin: 0;
  padding-left: 84px; }
  .figSubhead a,
  .figTitle a {
    color: black;
    cursor: pointer; }
    .figSubhead a:hover,
    .figTitle a:hover {
      color: green; }

.figSubhead {
  font-weight: normal; }

.figTitle {
  padding-top: 1em; }

.mission-samples {
  text-align: center; }
  .mission-samples img:first-of-type {
    padding: 0 15px 0 0; }

.mission-statement {
  font-family: sans-serif;
  font-weight: bold;
  margin: 1em auto;
  width: 85%; }

.mission-rule {
  border-top: 1px solid #ccc;
  border-left: 0;
  border-right: 0;
  border-bottom: 0;
  width: 320px;
  margin: 1em auto; }

#swipebox-slider .slide .figSubhead,
#swipebox-slider .slide .figTitle {
  line-height: 1em;
  text-align: left;
  white-space: normal; }

@media only screen and (max-width: 768px) {
  .figSubhead,
  .figTitle {
    font-size: .9em;
    margin-bottom: 0.5em;
    padding-left: 0; } }
.hover-info i,
.indent {
  padding-left: 2em; }

.regionName {
  font-weight: bold; }

svg {
  font-family: sans-serif;
  font-size: .9em; }

.table-style {
  font-family: sans-serif;
  font-size: 0.85em; }

/* MAIN LAYOUT
------------------------------ */
header {
  background-color: white;
  border-bottom: 1px solid #bbb;
  display: block;
  padding: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9; }
  header .header-wrap {
    margin: 0.25em 0;
    max-height: 60px;
    overflow: hidden; }
  header h1.title {
    color: white;
    background-color: #555;
    display: inline-block;
    font-family: 'Arial Black', san-serif;
    height: 4.5em;
    margin: 0;
    max-width: 12em;
    padding: .25em 1% .5em 1%;
    vertical-align: top; }
  header h1.images {
    background-color: white;
    display: inline;
    height: 60px;
    margin: 0;
    padding: 0;
    overflow: hidden; }
    header h1.images img {
      height: 60px; }

/* Tablets and up ----------- */
@media only screen and (min-width: 768px) {
  header .header-wrap {
    max-height: 112px; }
    header .header-wrap h1.images img {
      height: 112px; } }
/* Desktops and laptops ----------- */
@media only screen and (min-width: 1024px) {
  header .header-wrap {
    max-height: 148px; }
    header .header-wrap h1.images img {
      height: 148px; } }
.content-wrap {
  padding-top: 80px;
  margin: 0 auto;
  max-width: 910px; }

@media only screen and (max-width: 431px) {
  .merged .content-wrap {
    margin: 0; } }
/* Tablets and up ----------- */
@media only screen and (min-width: 768px) {
  .content-wrap {
    padding-top: 124px; } }
/* Desktops and laptops ----------- */
@media only screen and (min-width: 1024px) {
  .content-wrap {
    padding-top: 150px; } }
fieldset, .results {
  display: block;
  margin: 1em 0;
  max-width: 90%; }
  fieldset img, .results img {
    max-width: 100%; }

.merged fieldset,
.mergedresults fieldset {
  border: 0 none; }

.mergedresults .results {
  max-width: 100%; }

@media only screen and (max-width: 431px) {
  .merged fieldset {
    max-width: 100%; } }
.results {
  margin-left: 8px; }

fieldset ul {
  list-style-type: none;
  margin-bottom: 3em; }
  fieldset ul li {
    margin-top: 1em;
    margin-bottom: 1em; }

/* Smartphones (landscape) and down ----------- */
@media only screen and (max-width: 767px) {
  .results img {
    width: 100% !important; } }
/* Tablets and down ----------- */
@media only screen and (max-width: 1023px) {
  .results img {
    min-width: 50% !important; } }
/* SECONDARY LAYOUT
------------------------------ */
.quick-submit {
  x-float: right;
  width: 60%;
  text-align: center; }
  .quick-submit a,
  .quick-submit .orDivider {
    display: inline-block;
    x-padding: 1em; }
  .quick-submit .orDivider {
    width: 30%; }
    .quick-submit .orDivider h5 {
      font-style: italic; }

.collapse-parameters .collapse-trigger a {
  text-decoration: none;
  color: black;
  cursor: pointer; }
.collapse-parameters .collapse-trigger button {
  background: #eee;
  border: 0 none;
  border-radius: 3px;
  box-shadow: 1px 2px 3px 1px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  display: inline-block;
  width: 30%;
  margin: 1em 2em;
  width: 200px;
  text-decoration: none;
  outline: 0; }
.collapse-parameters .collapse-trigger button:hover,
.collapse-parameters .collapse-trigger button.active:hover {
  background: #dfdfdf; }
.collapse-parameters .collapse-trigger button:hover {
  box-shadow: 1px 2px 3px 1px rgba(0, 0, 0, 0.2); }
.collapse-parameters .collapse-trigger button.active {
  background: #e9e9e9;
  box-shadow: inset -2px -1px 10px 3px rgba(235, 235, 235, 0.5), -1px -1px 3px 1px rgba(0, 0, 0, 0.2);
  outline: 0; }

button {
  background: #eee;
  border: 0 none;
  border-radius: 3px;
  box-shadow: 1px 2px 3px 1px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  outline: 0; }

button:hover,
button.active:hover {
  background: #dfdfdf; }

button:hover {
  box-shadow: 1px 2px 3px 1px rgba(0, 0, 0, 0.2); }

button.active {
  background: #e9e9e9;
  box-shadow: inset -2px -1px 10px 3px rgba(235, 235, 235, 0.5), -1px -1px 3px 1px rgba(0, 0, 0, 0.2);
  outline: 0; }

.sectionBanner {
  padding: .5em;
  width: 100%;
  color: white;
  font-family: sans-serif;
  font-weight: bold;
  background-color: darkorchid; }

/* Sidebar ---------- */
.sidebar {
  display: none; }
  .sidebar .glossary-icon {
    display: none; }

@media only screen and (min-width: 1320px) {
  .sidebar {
    background: #eee;
    display: block;
    padding: 1em 2em 1em 1em;
    position: fixed;
    right: 0;
    top: 150px;
    width: 350px; } }
.results table,
.assumptions-table,
.output-table,
table.form {
  border-spacing: 0;
  margin-bottom: 10px; }
  .results table td,
  .results table .assumptions-td,
  .results table .output-td,
  .results table .output-th,
  .assumptions-table td,
  .assumptions-table .assumptions-td,
  .assumptions-table .output-td,
  .assumptions-table .output-th,
  .output-table td,
  .output-table .assumptions-td,
  .output-table .output-td,
  .output-table .output-th,
  table.form td,
  table.form .assumptions-td,
  table.form .output-td,
  table.form .output-th {
    height: 1.5em;
    text-align: center; }
  .results table .assumptions-td:first-of-type,
  .results table .output-td:first-of-type,
  .results table .output-th:first-of-type,
  .results table td:first-of-type,
  .results table th:first-of-type,
  .assumptions-table .assumptions-td:first-of-type,
  .assumptions-table .output-td:first-of-type,
  .assumptions-table .output-th:first-of-type,
  .assumptions-table td:first-of-type,
  .assumptions-table th:first-of-type,
  .output-table .assumptions-td:first-of-type,
  .output-table .output-td:first-of-type,
  .output-table .output-th:first-of-type,
  .output-table td:first-of-type,
  .output-table th:first-of-type,
  table.form .assumptions-td:first-of-type,
  table.form .output-td:first-of-type,
  table.form .output-th:first-of-type,
  table.form td:first-of-type,
  table.form th:first-of-type {
    text-align: left; }

.results table,
.assumptions-table,
.output-table {
  border: 1px solid #ccc;
  font-family: sans-serif; }
  .results table .assumptions-td,
  .results table .output-td,
  .results table .output-th,
  .results table td,
  .results table th,
  .assumptions-table .assumptions-td,
  .assumptions-table .output-td,
  .assumptions-table .output-th,
  .assumptions-table td,
  .assumptions-table th,
  .output-table .assumptions-td,
  .output-table .output-td,
  .output-table .output-th,
  .output-table td,
  .output-table th {
    padding: .5em; }
  .results table .assumptions-tr:nth-of-type(even),
  .results table .output-tr:nth-of-type(even),
  .results table tr:nth-of-type(even),
  .assumptions-table .assumptions-tr:nth-of-type(even),
  .assumptions-table .output-tr:nth-of-type(even),
  .assumptions-table tr:nth-of-type(even),
  .output-table .assumptions-tr:nth-of-type(even),
  .output-table .output-tr:nth-of-type(even),
  .output-table tr:nth-of-type(even) {
    background-color: #eee; }

.results .output-table .output-th {
  vertical-align: bottom; }
.results .output-table .output-th:not(:first-of-type) {
  width: 18%; }
.results .output-table .output-th:not(:first-of-type),
.results .output-table .output-td:not(:first-of-type) {
  border-left: 1px dashed #ccc; }

.parameterSetDescription {
  font-style: italic; }

.scenarioGroup {
  border-top: 1px solid #999;
  color: white;
  colspan: 5;
  font-weight: bold;
  left: 0;
  padding: .5em;
  position: absolute;
  right: 0; }
  .scenarioGroup.untreated {
    background-color: blue; }
  .scenarioGroup.dce75 {
    background-color: lightskyblue; }
  .scenarioGroup.dce50 {
    background-color: darkorchid; }
  .scenarioGroup.dce25 {
    background-color: yellowgreen; }

.paramGroupShadow,
.scenarioGroupShadow,
.variableGroupShadow {
  display: table-cell;
  color: white;
  background-color: white;
  padding: .5em;
  position: relative;
  z-index: -9; }

.paramGroupShadow {
  line-height: 1em; }

.paramGroup,
.variableGroup {
  background-color: #666;
  border-top: 1px solid #999;
  color: white;
  font-family: sans-serif;
  font-weight: bold;
  left: 0;
  padding: .5em;
  position: absolute;
  right: 0; }

table.form {
  border: 0 none;
  cursor: pointer;
  margin-left: 40px; }
  table.form input {
    cursor: text; }
  table.form label {
    cursor: pointer; }
  table.form td {
    padding: .5em 1em; }
  table.form tr.focused,
  table.form tr:hover {
    background-color: #eee; }
  table.form tr.hover-info:hover,
  table.form tr.subselect:hover,
  table.form tr.regionalDefaultSelector:hover {
    background-color: #fff; }
  table.form tr.regionalDefaultSelector td {
    line-height: 2em; }

.assumptions-table .assumptions-tr .assumptions-td:not(:first-of-type) {
  x-font-weight: bold;
  border-left: 1px dashed #ccc; }

.custom-instructions table,
.efficacy-info table,
.sidebar table,
.variable-definitions table,
.param-table .preventative-slideout table,
table.form .preventative-slideout table {
  border-bottom: 2px solid #000;
  border-collapse: collapse;
  border-top: 2px solid #000;
  font-family: sans-serif;
  font-size: 0.85em;
  margin: 1em 0;
  max-width: 100%; }
  .custom-instructions table th,
  .efficacy-info table th,
  .sidebar table th,
  .variable-definitions table th,
  .param-table .preventative-slideout table th,
  table.form .preventative-slideout table th {
    font-weight: normal;
    min-width: 12rem; }
  .custom-instructions table td:first-of-type,
  .efficacy-info table td:first-of-type,
  .sidebar table td:first-of-type,
  .variable-definitions table td:first-of-type,
  .param-table .preventative-slideout table td:first-of-type,
  table.form .preventative-slideout table td:first-of-type {
    min-width: 16rem; }

table.form .preventative-slideout table td,
.param-table .preventative-slideout table td {
  padding: 0; }
table.form .preventative-slideout table tr:hover,
.param-table .preventative-slideout table tr:hover {
  background-color: #fff; }

.custom-instructions th,
table.form .preventative-slideout th,
.param-table .preventative-slideout th {
  border-bottom: 1px solid #999;
  background-color: #fff; }

.efficacy-info table thead tr:first-of-type th:nth-of-type(2) {
  border-bottom: 1px solid #999; }
.efficacy-info table thead tr:nth-of-type(3) th:nth-of-type(2) {
  border-top: 1px solid #000; }

.variable-definitions table:not(:nth-of-type(2)) th:not(:first-of-type) {
  border-bottom: 1px solid #999; }
.variable-definitions table:not(:nth-of-type(2)) tr:first-of-type td {
  border-bottom: 1px solid #000; }
.variable-definitions table:nth-of-type(2) th {
  border-bottom: 1px solid #000; }

.figure-area .legend,
.figure-area p {
  text-align: center;
  width: 960px;
  max-width: 100%; }

/* FORM ELEMENTS
------------------------------ */
label {
  display: block; }

label[for=efficacyOrYearfig] {
  color: #000000; }

label[for=actualRegion] {
  display: inline-block;
  font-weight: bold;
  padding-right: 1em; }

.figuredisplay input, .figuredisplay label {
  display: inline-block;
  vertical-align: middle; }
.figuredisplay input[type=radio] {
  margin-left: 0; }
.figuredisplay label {
  padding-left: 2em;
  width: 60%; }
.figuredisplay li {
  padding: .5em 0; }

.selectlist {
  margin: 0;
  padding: 0; }
  .selectlist li {
    border: 1px solid #ccc;
    display: inline-block;
    padding: .5em; }
    .selectlist li.selected {
      background-color: #333;
      color: #fff; }
    .selectlist li:hover:not(.selected) {
      background-color: #ccc; }

.assumptions-table,
.output-table,
.param-table {
  display: table;
  position: relative; }

.output-thead {
  display: table-header-group; }

.assumptions-tr,
.output-tr {
  display: table-row; }

.assumptions-td,
.output-td,
.output-th {
  display: table-cell; }

/* .param-table ---------- */
/* Landscape smartphones and up ----------- */
@media only screen and (min-width: 431px) {
  .param-table {
    border: 0 none;
    border-spacing: 0;
    display: table;
    margin-bottom: 10px;
    margin-left: 40px; }
    .param-table .subselect > .param-deadcell {
      max-width: 420px;
      padding-left: 30px; }

  .param-row {
    display: table-row; }

  .param-deadcell,
  .param-label,
  .param-input {
    display: table-cell;
    height: 1.5em;
    padding: .5em 1em; }

  .param-input {
    text-align: right; }

  .param-deadcell,
  .param-label {
    text-align: left; } }
/* All devices ------- */
.param-deadcell {
  padding-left: 1em; }

.param-input {
  width: 20%; }

.param-label {
  width: 80%; }

.param-table {
  cursor: pointer;
  			/*.param-input.dollar:before {
  				color: #666;
  				content: '$';
  				font-family: sans-serif;
  				font-size: 1em;
  				position: relative;
  				left: 1em;
  				z-index: 5;
  			}
  			
  			.param-input.percentage:after {
  				color: #666;
  				content: '%';
  				font-family: sans-serif;
  				font-size: 1em;
  				position: relative;
  				right: 1em;
  				z-index: 5;
  			}
  
  			.param-input.tons {
  				input {
  					x-padding: 0 3em 0 0;
  				}
  			}
  			.param-input.tons:after {
  				color: #666;
  				content: 'Tons';
  				font-family: sans-serif;
  				font-size: 1em;
  				position: relative;
  				right: 3em;
  				z-index: 5;
  			}*/ }
  .param-table input {
    cursor: text;
    x-font-size: 1em; }
  .param-table label {
    cursor: pointer; }
  .param-table .param-input input {
    text-align: right;
    width: 6em;
    x-padding: 0 1.5em; }
  .param-table .param-row {
    border-top: 1px solid #ccc;
    height: auto;
    padding: .5em 0;
    width: 100%; }
    .param-table .param-row:first-of-type, .param-table .param-row:first-of-type:hover, .param-table .param-row.regionalDefaultSelector:first-of-type:hover {
      border-top: 0 none;
      position: static; }
    .param-table .param-row.regionalDefaultSelector .param-deadcell {
      x-padding-left: 0; }
      .param-table .param-row.regionalDefaultSelector .param-deadcell label {
        line-height: 1em; }
  .param-table .param-row.focused,
  .param-table .param-row:hover {
    background-color: #eee; }
  .param-table .param-row.subselect,
  .param-table .param-row.regionalDefaultSelector:hover {
    background-color: #fff;
    border-bottom: 0 none;
    border-top: 0 none;
    position: relative;
    top: -2px; }
  .param-table .param-row.regionalDefaultSelector .param-deadcell {
    x-line-height: 2em; }
  .param-table .param-row.subselect.discount .glossary-link {
    margin-bottom: 1em; }

/* Portrait smartphones and down ----- */
@media only screen and (max-width: 430px) {
  select#actualRegion {
    display: block;
    margin: 1em auto;
    width: 50%; }

  .param-table .param-label,
  .param-table .param-input {
    text-align: center;
    width: 100%; }
  .param-table .param-input input {
    border: 0;
    margin: 1em auto;
    padding: 0.5em;
    text-align: center;
    x-width: 100%; }
    .param-table .param-input input:focus {
      outline: 0; }
  .param-table #regionalDefaults {
    margin: 1.5em auto; }
  .param-table .param-deadcell .glossary-inline {
    padding-left: 0; }
  .param-table .param-row {
    position: relative; }
  .param-table .param-table .param-row.subselect,
  .param-table .param-table .param-row.regionalDefaultSelector:hover {
    top: 0; } }
table.form .subselect > td {
  max-width: 420px;
  padding-left: 30px; }

.subselect:first-of-type .param-label {
  font-family: sans-serif;
  padding-left: 0; }

/* MISCELLANEOUS
------------------------------ */
.disable-on-yield-alert {
  display: none;
  font-style: italic; }
  .disable-on-yield-alert a {
    color: black; }

.figure-wrap {
  background-color: #fff;
  x-padding-left: 1em; }

a.submit {
  text-decoration: none; }
  a.submit button {
    background: #06c;
    x-border: 2px solid #ccc;
    color: #fff;
    x-cursor: pointer;
    display: block;
    margin: 1em 0;
    width: 200px;
    text-decoration: none; }
  a.submit button:hover {
    background: #05b; }
  a.submit button:active {
    background: #05b;
    box-shadow: inset -2px -1px 10px 3px rgba(235, 235, 235, 0.5), -1px -1px 3px 1px rgba(0, 0, 0, 0.2); }

.endsubmit-wrap {
  margin: 0 auto;
  width: 200px; }

@media only screen and (min-width: 768px) {
  .endsubmit-wrap {
    float: right;
    margin-right: 0; } }
#regionalDefaults {
  background: #ff2f00;
  color: #fff; }
  #regionalDefaults:hover {
    background: #dd2000; }
  #regionalDefaults:active {
    box-shadow: inset -2px -1px 10px 3px rgba(235, 235, 235, 0.5), -1px -1px 3px 1px rgba(0, 0, 0, 0.2); }

.swipebox-inline-container .hide-on-print {
  visibility: hidden; }

.merged button,
.merged input,
.merged select {
  font-size: 16px; }

.param-table {
  x-display: none; }

/* Smartphones (portrait) and down ----------- */
@media only screen and (max-width: 421px) {
  .not-portrait-phone {
    display: none; }

  .only-portrait-phone.quick-submit {
    width: 200px;
    margin: .5em auto;
    text-align: center; }

  .param-table .param-row.regionalDefaultSelector:hover {
    border-top: 1px solid #ccc;
    top: 0; }
  .param-table .param-row.subselect:hover {
    position: relative; }
  .param-table .paramGroup {
    top: 0;
    bottom: 0;
    padding: 1em .5em; } }
@media only screen and (min-width: 421px) {
  .only-portrait-phone {
    display: none; } }
