.adjust-link,
hr,
.hide-on-print,
.instructions,
.landscape-alert,
.print-link,
#theform,
.sidebar,
.top-link {
  display: none; }

.content-wrap {
  padding-top: 20px; }

header {
  background-color: #fff;
  border-bottom: 0;
  position: static;
  text-align: center; }

@page {
  margin: 25mm; }
.results table tr:nth-of-type(even),
.results table tr:nth-of-type(odd) {
  background-color: white;
  border-bottom: 1px solid #ccc; }

.assumptions-wrap,
.figure-wrap,
.output-wrap,
.table-wrap {
  page-break-inside: avoid; }

.figure-wrap img {
  width: 100% !important; }

.figure-wrap a {
  display: block; }

.varDefs-printable {
  display: block; }

header h1.title a,
.scenarioGroup,
.variableGroup {
  color: #000; }
