@charset "UTF-8"; /* only necessary if doc contains unicode chars */
/* stylesheet information for kaplan-tool
File created date: 11.02.2015
Last modified date: 11.02.2015
By: Max Norton maxbnorton@csus.edu
*/

/* Table of Contents
FONT AND COLOR PALETTE
RESETS AND OVERRIDES
LINKS AND TYPE
MAIN LAYOUT
$logo
$top-nav
$nav-bar
$etc
SECONDARY LAYOUT
$sidebar
$etc
FORM ELEMENTS
$.param-table
MISCELLANEOUS
*/

/* FONT AND COLOR PALETTE: 
------------------------------ */
	$sans-stack: 'Calibri',sans-serif;
	$color: #hexcode;

	.alert {
		color: red;
	}


/* RESETS AND OVERRIDES
------------------------------ */
/*@import ();*/

body {
	margin: 0;
}

h1 {
	font-size: .75em;
}

h1.images img:nth-of-type(1) {
	display: none;
}

/* Smartphones (landscape) and up ----------- */
@media only screen and (min-width : 321px) {
	h1.images img:nth-of-type(1) {
		display: inline;
	}
	.landscape-alert {
		display: none;
	}
}

/* Tablets (portrait and landscape) ----------- */
@media only screen and (min-width : 768px) and (max-width : 1024px) {
	h1 {
		font-size: 1.5em;
	}
}

/* Desktops and laptops ----------- */
@media only screen and (min-width: 1024px) {
	h1 {
		font-size: 2em;
	}
}

.varDefs-printable {
	display: none;
}


/* LINKS AND TYPE
------------------------------ */

a i {
	color: black;
}

a:hover i,
a:hover {
	color: green;
}

h1, h2, h3 {
	font-family: 'Calibri', sans-serif;
}

h1.title a {
	color: white;
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}
}

h3 {
	margin-top: 2em;
}

.glossary-inline,
.glossary-link,
.hover-info .info {
	color: black;
	display: block;
	padding: 0;
}

.glossary-inline,
.glossary-link,
.glossary-link-family,
.hover-info .info {
	i {
		padding-right: 1em;
	}
}

.glossary-link-family a {
	color: black;
}
.glossary-link a {
	color: black;
	cursor: pointer;
}

.glossary-inline,
.hover-info .info {
	display: none;
	padding-left: 2em;
}

.glossary-link:hover,
.glossary-link:hover a,
.glossary-link-family a:hover {
	color: green;
	cursor: pointer;
}

.inline-def,
.glossary-link:hover .inline-def {
	color: black;
	font-style: italic;
}

.figSubhead,
.figTitle {
	font-family: 'Calibri', sans-serif;
	margin: 0;
	padding-left: 84px;

	a {
		color: black;
		cursor: pointer;

		&:hover {
			color: green;
		}
	}
}

.figSubhead {
	font-weight: normal;
}

.figTitle {
	padding-top: 1em;
}

.mission-samples {
	text-align: center;

	img:first-of-type {
		padding: 0 15px 0 0;
	}
}

.mission-statement {
	font-family: 'Calibri', sans-serif;
	font-weight: bold;
	margin: 1em auto;
	width: 85%;
}

.mission-rule {
	border-top: 1px solid #ccc;
	border-left: 0;
	border-right: 0;
	border-bottom: 0;
	width: 320px;
	margin: 1em auto;
}

#swipebox-slider .slide {
	.figSubhead,
	.figTitle {
		line-height: 1em;
		text-align: left;
		white-space: normal;
	}
}

@media only screen and (max-width: 768px) {
	.figSubhead,
	.figTitle {
		font-size: .9em;
		margin-bottom: 0.5em;
		padding-left: 0;
	}
}

.hover-info i,
.indent {
	padding-left: 2em;
}

.regionName {
	font-weight: bold;
}

svg {
	font-family: 'Calibri', sans-serif;
	font-size: .9em;
}

.table-style {
	font-family: 'Calibri', sans-serif;
	font-size: 0.85em;
}

.yearfig-wrap h4 {
	margin-top: 1.5em;
}

/* MAIN LAYOUT
------------------------------ */

header {
	background-color: white;
	border-bottom: 1px solid #bbb;
	display: block;
	padding: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 9;

	.header-wrap {
		background-color: #555;
		margin: .25em 0 ;
		max-height: 47px;
		overflow: hidden;
	}

	h1.title {
		color: white;
		background-color: #555;
		display: inline-block;
		font-family: 'Arial Black', san-serif;
		height: 3em;
		margin: 0;
		max-width: 12em;
		padding: .5em 1% .5em 1%;
		vertical-align: top;
	}

	.images {
		background-color: white;
		display: inline;
		height: 47px;
		margin: 0;
		padding: 0;
		overflow: hidden;

		img {
			border-right: 4px solid #fff;
			height: 47px;

			&:first-of-type {
				border-left: 4px solid #fff;
			}
		}

	}

}

/* Tablets and up ----------- */
@media only screen and (min-width: 768px) {
	header .header-wrap {
		max-height: 96px;

		.images img {
				height: 96px;
		}
	}
}

.content-wrap {
	padding-top: 80px;
	margin: 0 auto;
	max-width: 910px;
}

/* Desktops and laptops ----------- */
@media only screen and (min-width: 1024px) {
	header .header-wrap {
		max-height: 128px;

		.images img {
				height: 128px;
		}
	}

	.content-wrap {
		margin: 0 1em;
		position: relative;
	}
}


@media only screen and (max-width: 431px) {
	.merged .content-wrap {
		margin: 0;
	}
}


/* Tablets and up ----------- */
@media only screen and (min-width: 768px) {
	.content-wrap {
		padding-top: 124px;
	}
}

/* Desktops and laptops ----------- */
@media only screen and (min-width: 1024px) {
	.content-wrap {
		padding-top: 150px;		
	}
}

fieldset, .results {
	display: block;
	margin: 1em 0;
	max-width: 90%;

	img {
		max-width: 100%;
	}

}

.merged fieldset,
.mergedresults fieldset {
	border: 0 none;
}

.mergedresults .results {
	max-width: 100%;
}

@media only screen and (max-width: 431px) {
	.merged fieldset {
		max-width: 100%;
	}
}

.results {
	margin-left: 8px;
}

fieldset ul {
	list-style-type: none;
	margin-bottom: 3em;

	li {
		margin-top: 1em;
		margin-bottom: 1em;
	}
}

/* Smartphones (landscape) and down ----------- */
@media only screen and (max-width : 767px) {
	.results img {
		width: 100% !important;
	}
}

/* Tablets and down ----------- */
@media only screen and (max-width : 1023px) {
	.results img {
		min-width: 50% !important;
	}
}


/* SECONDARY LAYOUT
------------------------------ */

.quick-submit {
	x-float: right;
	width: 60%;
	text-align: center;

	a,
	.orDivider {
		display: inline-block;
		x-padding: 1em;
	}

	.orDivider {
		width: 30%;

		h5 {
			font-style: italic;
		}
	}
}

.collapse-parameters .collapse-trigger {
	a {
		text-decoration: none;
		color: black;
		cursor: pointer;
	}
	button {
		background: #eee;
		border: 0 none;
		border-radius: 3px;
		box-shadow: 1px 2px 3px 1px rgba(0,0,0,.2);
		cursor: pointer;
		display: inline-block;
		width: 30%;
		margin: 1em 2em;
		width: 200px;
		text-decoration: none;
		outline: 0;
	}
	button:hover,
	button.active:hover {
		background: #dfdfdf;
	}

	button:hover {
		box-shadow: 1px 2px 3px 1px rgba(0,0,0,.2);	
	}
	button.active {
		background: #e9e9e9;
		box-shadow: inset -2px -1px 10px 3px rgba(235,235,235,.5), -1px -1px 3px 1px rgba(0,0,0,.2);
		outline: 0;
	}


}

button {
	background: #eee;
	border: 0 none;
	border-radius: 3px;
	box-shadow: 1px 2px 3px 1px rgba(0,0,0,.2);	
	cursor: pointer;
	outline: 0;
}

button:hover,
button.active:hover {
	background: #dfdfdf;
}

button:hover {
	box-shadow: 1px 2px 3px 1px rgba(0,0,0,.2);	
}
button.active {
	background: #e9e9e9;
	box-shadow: inset -2px -1px 10px 3px rgba(235,235,235,.5), -1px -1px 3px 1px rgba(0,0,0,.2);
	outline: 0;
}


.sectionBanner {
	padding: .5em;
	width: 100%;
	color: white;
	font-family: 'Calibri', sans-serif;
	font-weight: bold;
	background-color: darkorchid;
}

/* Sidebar ---------- */
.sidebar {
	display: none;

	li {
		display: inherit;
	}

	.glossary-icon {
		display: none;
	}
}

@media only screen and (min-width : 1234px) {
	.content-wrap {
		margin: 0 1em;
	}
	.flyout-wrap {
		position: fixed;
		right: 336px;
		top: 0;
		width: 0;
		height: 100%;
		z-index: 19;
	}
	#closingX {
    	color: #000;
    	display: inline-block;
    	font-weight: bold;
    	text-decoration: none;
	}
	.sidebar {
		background: #eee;
		bottom: 0;
		display: block;
		font-family: 'Calibri', sans-serif;
		font-size: .9em;
		padding: 137px 29px 1em 14px;
		position: fixed;
		right: 0;
		top: 0;
		width: 225px;

		ul {
			position: absolute;
			top: 137px;
			right: .5em;
			width: 225px
		}

		li {
			padding-top: .5em;
		}

		.glossary-inline {
			padding-left: 0;
		}

		.glossary-title {
			h4 {
				display: inline-block;
				margin-bottom: 0;
			}
			a {
				color: black;
			}
			a:hover {
				color: green;
			}
	}

	}
	header  {
		border-bottom: 0;
		margin-bottom: 0;

		.images {
			display: inline-block;
			height: 128px;
			position: absolute;
			right: 218px;
		}
	}
}

iframe {
	background-color: #fff;
	border: 1px solid #ccc;
	border-right: none;	display: none;
	position: absolute;
	left: 0;
	top: 140px;
	width: 850px;
	padding: 2em;
	z-index: 99;
}


.results table,
.assumptions-table,
.output-table,
table.form {
	border-spacing: 0;
	margin-bottom: 10px;

	td,
	.assumptions-td,
	.output-td ,
	.output-th{
		height: 1.5em;
		text-align: center;
	}
	.assumptions-td:first-of-type,
	.output-td:first-of-type,
	.output-th:first-of-type,
	td:first-of-type,
	th:first-of-type {
		text-align: left;
	}
	.output-th,
	th {
	}
}

.results table,
.assumptions-table,
.output-table {
	border: 1px solid #ccc;
	font-family: 'Calibri', sans-serif;

	.assumptions-td,
	.output-td,
	.output-th,
	td,
	th {
		padding: .5em;
	}
	.assumptions-tr:nth-of-type(even),
	.output-tr:nth-of-type(even),
	tr:nth-of-type(even) {
		background-color: #eee;
	}
}

.results .output-table {
	.output-th {
		vertical-align: bottom;
	}
	.output-th:not(:first-of-type) {
		width: 18%;
	}
	.output-th:not(:first-of-type),
	.output-td:not(:first-of-type) {
		border-left: 1px dashed #ccc;
	}
}

.parameterSetDescription {
	font-style: italic;
}

.scenarioGroup {
	border-top: 1px solid #999;
	color: white;
	colspan: 5;
	font-weight: bold;
	left: 0;
	padding: .5em;
	position: absolute;
	right: 0;

	&.untreated {
		background-color: blue;
	}

	&.dce75 {
		background-color: lightskyblue;
	}

	&.dce50 {
		background-color: darkorchid;
	}

	&.dce25 {
		background-color: yellowgreen;
	}
}

.paramGroupShadow,
.scenarioGroupShadow,
.variableGroupShadow {
	display: table-cell;
	color: white;
	background-color: white;
	padding: .5em;
	position: relative;
	z-index: -9;
}

.paramGroupShadow {
	line-height: 1em;
}

.paramGroup,
.variableGroup {
	background-color: #666;
	border-top: 1px solid #999;
	color: white;
	font-family: 'Calibri', sans-serif;
	font-weight: bold;
	left: 0;
	padding: .5em;
	position: absolute;
	right: 0;
}

table.form {
	border: 0 none;
	cursor: pointer;
	margin-left: 40px;

	input {
		cursor: text;
	}
	label {
		cursor: pointer;
	}
	td {
		padding: .5em 1em;
	}
	tr.focused,
	tr:hover {
		background-color: #eee;
	}
	tr.hover-info:hover,
	tr.subselect:hover,
	tr.regionalDefaultSelector:hover {
		background-color: #fff;
	}
	tr.regionalDefaultSelector td {
		line-height: 2em;
	}
}

.assumptions-table {
	.assumptions-tr .assumptions-td:not(:first-of-type) {
		x-font-weight: bold;
		border-left: 1px dashed #ccc;
	}
}

.custom-instructions,
.efficacy-info,
.sidebar,
.variable-definitions,
.param-table .preventative-slideout,
table.form .preventative-slideout,
.practice-costs {
	table {
		border-bottom: 2px solid #000;
		border-collapse: collapse;
		border-top: 2px solid #000;
		font-family: 'Calibri', sans-serif;
		font-size: 0.85em;
		margin: 1em 0;
		max-width: 100%;

		th {
			font-weight: normal;
			min-width: 12rem;
		}

		td:first-of-type {
			min-width: 16rem;
		}
	}
}

table.form .preventative-slideout table,
.param-table .preventative-slideout table,
.practice-costs table {
	td {
		padding: 0;
	}

	tr:hover {
		background-color: #fff;
	}
}

.custom-instructions,
table.form .preventative-slideout,
.param-table .preventative-slideout,
.practice-costs {
	th {
		border-bottom: 1px solid #999;
		background-color: #fff;
	}
}

.efficacy-info table {
	thead tr:first-of-type th:nth-of-type(2) {
		border-bottom: 1px solid #999;
	}
	thead tr:nth-of-type(3) th:nth-of-type(2) {
		border-top: 1px solid #000;
	}
}

.variable-definitions {
	table:not(:nth-of-type(2)) {
		th:not(:first-of-type) {
			border-bottom: 1px solid #999;
		}
		tr:first-of-type td {
			border-bottom: 1px solid #000;
		}
	}

	table:nth-of-type(2) th {
		border-bottom: 1px solid #000;
	}
}

.figure-area .legend,
.figure-area p {
	text-align: center;
	width: 960px;
	max-width: 100%;
}


/* FORM ELEMENTS
------------------------------ */

label {
	display: block;
}

label[for=efficacyOrYearfig] {
	color: #000000;
}

label[for=actualRegion] {
	display: inline-block;
	font-weight: bold;
	padding-right: 1em;
}

.figuredisplay  {
	input, label {
		display: inline-block;
		vertical-align: middle;
	}

	input {
		&[type=radio] {
			margin-left: 0;
		}
	}

	label {
		padding-left: 2em;
		width: 60%;
	}

	li {
		padding: .5em 0;
	}

}

.selectlist {
	margin: 0;
	padding: 0;

	li {
		border: 1px solid #ccc;
		display: inline-block;
		padding: .5em;

		&.selected {
			background-color: #333;
			color: #fff;
		}

		&:hover:not(.selected) {
			background-color: #ccc;
		}
	}

}

.assumptions-table,
.output-table,
.param-table {
	display: table;
	position: relative;
}

.output-thead {
	display: table-header-group;
}

.assumptions-tr,
.output-tr {
	display: table-row;
}

.assumptions-td,
.output-td,
.output-th {
	display: table-cell;
}


	/* .param-table ---------- */

		/* Landscape smartphones and up ----------- */
		@media only screen and (min-width : 431px) { // what's the right value?
			.param-table {
				border: 0 none;
				border-spacing: 0;
				display: table;
				margin-bottom: 10px;
				margin-left: 40px;
				
				.subselect > .param-deadcell {
					max-width: 420px;
					padding-left: 30px;
				}
			}
			
			.param-row {
				display: table-row;
			}
			
			.param-deadcell,
			.param-label,
			.param-input {
				display: table-cell;
				height: 1.5em;
				padding: .5em 1em;
			}

			.param-input {
				text-align: right;
			}
			
			.param-deadcell,
			.param-label {
				text-align: left;
			}

		}

		/* All devices ------- */
		#actualRegion {
			display: block;
			margin: 1em 40px;
		}

		.param-deadcell {
			padding-left: 1em;
		}

		.param-input {
			width: 20%;
		}

		.param-label {
			width: 80%;
		}

		.param-table {
			cursor: pointer;

			input {
				cursor: text;
				x-font-size: 1em;
			}

			/*.param-input.dollar:before {
				color: #666;
				content: '$';
				font-family: 'Calibri', sans-serif;
				font-size: 1em;
				position: relative;
				left: 1em;
				z-index: 5;
			}
			
			.param-input.percentage:after {
				color: #666;
				content: '%';
				font-family: 'Calibri', sans-serif;
				font-size: 1em;
				position: relative;
				right: 1em;
				z-index: 5;
			}

			.param-input.tons {
				input {
					x-padding: 0 3em 0 0;
				}
			}
			.param-input.tons:after {
				color: #666;
				content: 'Tons';
				font-family: 'Calibri', sans-serif;
				font-size: 1em;
				position: relative;
				right: 3em;
				z-index: 5;
			}*/

			label {
				cursor: pointer;
			}

			.param-input {
				input {
					text-align: right;
					width: 6em;
					x-padding: 0 1.5em;
				}
			}

			.param-row {
				border-top: 1px solid #ccc;
				height: auto;
				padding: .5em 0;
				width: 100%;

				&:first-of-type,
				&:first-of-type:hover,
				&.regionalDefaultSelector:first-of-type:hover {
					border-top: 0 none;
					position: static;
				}

				&.regionalDefaultSelector .param-deadcell {
					x-padding-left: 0;
					label {
						line-height: 1em;
					}
				}
			}
			
			.param-row.focused,
			.param-row:hover {
				background-color: #eee;
			}
			


			.param-row.subselect,
			.param-row.regionalDefaultSelector:hover {
				background-color: #fff;
				border-bottom: 0 none;
				border-top: 0 none;
				position: relative;
				top: -2px;
			}


			.param-row.regionalDefaultSelector .param-deadcell {
				x-line-height: 2em;
			}

			.param-row.subselect.discount .glossary-link {
				margin-bottom: 1em;
			}

		}

		/* Portrait smartphones and down ----- */
		@media only screen and (max-width : 430px) {
			select#actualRegion {
				display: block;
				margin: 1em auto;
				width: 50%;
			}
			.param-table {
				.param-label,
				.param-input {
					text-align: center;
					width: 100%;
				}

				.param-input input {
					border: 0;
					margin: 1em auto;
					padding: 0.5em;
					text-align: center;
					x-width: 100%;

					&:focus {
						outline: 0;
					}
				}

				#regionalDefaults {
					margin: 1.5em auto;
				}

				.param-deadcell .glossary-inline {
					padding-left: 0;
				} 

				.param-row {
					position: relative;
				}

				.param-table .param-row.subselect,
				.param-table .param-row.regionalDefaultSelector:hover {
					top: 0;
				}
			}
		}


table.form .subselect > td {
	max-width: 420px;
	padding-left: 30px;
}

.subselect:first-of-type .param-label {
	font-family: 'Calibri', sans-serif;
	padding-left: 0;
}

/* MISCELLANEOUS
------------------------------ */

.disable-on-yield-alert {
	display: none;
	font-style: italic;

	a {
		color: black;
	}
}

.figure-wrap {
	background-color: #fff;
	x-padding-left: 1em;
}

a.submit {
	text-decoration: none;

	button {
		background: #06c;
		x-border: 2px solid #ccc;
		color: #fff;
		x-cursor: pointer;
		display: block;
		margin: 1em 0;
		width: 200px;
		text-decoration: none;
	}
	button:hover {
		background: #05b;
	}
	button:active {
		background: #05b;
		box-shadow: inset -2px -1px 10px 3px rgba(235,235,235,.5), -1px -1px 3px 1px rgba(0,0,0,.2);	
	}
}

.endsubmit-wrap {
	margin: 0 auto;
	width: 200px;
}

@media only screen and (min-width : 768px) {
	.endsubmit-wrap {
		float: right;
		margin-right: 0;
	}
}

#regionalDefaults {
	background: #ff2f00;
	color: #fff;

	&:hover {
		background: #dd2000;
	}

	&:active {
		box-shadow: inset -2px -1px 10px 3px rgba(235,235,235,.5), -1px -1px 3px 1px rgba(0,0,0,.2);	
	}
}

.swipebox-inline-container .hide-on-print {
	visibility: hidden;
}

.merged {
	button,
	input,
	select {
		font-size: 16px;
	}
}

.param-table {
	x-display: none;
}

/* Smartphones (portrait) and down ----------- */
@media only screen and (max-width : 421px) {
	.not-portrait-phone {
		display: none;
	}
	.only-portrait-phone.quick-submit {
		width: 200px;
		margin: .5em auto;
		text-align: center;
	}
	.param-table {
		.param-row.regionalDefaultSelector:hover {
			border-top: 1px solid #ccc;		
			top: 0;
		}
		.param-row.subselect:hover {
			position: relative;
		}
		.paramGroup {
			top: 0;
			bottom: 0;
			padding: 1em .5em;
		}
	}
}
@media only screen and (min-width : 421px) {
	.only-portrait-phone {
		display: none;
	}
}